<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-5 order-lg-2">
                <div class="p-3">
                    {% if include.image-link %}
                    <a href="{{ include.image-link }}">
                    {% endif %}

                    <img class="img-fluid {% unless include.no-rounded %}rounded-circle{% endunless %}" src="{{ include.image }}" />

                    {% if include.image-link %}
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-7 order-lg-1">
                <div class="p-3">
                    {% if include.header %}
                    <h2 class="display-4">{{ include.header }}</h2>
                    {% endif %}

                    {{ include.content | markdownify }}
                </div>
            </div>
        </div>
    </div>
</section>
