<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-5 order-lg-2">
                <div class="p-3 slideshow">
                    <a href="https://www.basballoon.nl/" target="_blank">
                        <img class="img-fluid rounded-circle" src="/img/sponsorloop/basballoon.jpg" />
                    </a>
                </div>
                <div class="p-3 slideshow" style="display: none;">
                    <img class="img-fluid rounded-circle" src="/img/sponsorloop/Vosjes.jpg" />
                </div>
                <div class="p-3 slideshow" style="display: none;">
                    <a href="https://www.feestenverhuuralkmaar.nl/" target="_blank">
                        <img class="img-fluid rounded-circle" src="/img/sponsorloop/suikerspin.webp" />
                    </a>
                </div>
                <div class="p-3 slideshow" style="display: none;">
                    <a href="https://www.instagram.com/ramona_zit.goed.in.de.olie" target="_blank">
                        <img class="img-fluid rounded-circle" src="/img/sponsorloop/bingo.webp" />
                    </a>
                </div>
                <div class="p-3 slideshow" style="display: none;">
                    <a href="https://www.alkmaarsport.nl" target="_blank">
                        <img class="img-fluid rounded-circle" src="/img/sponsorloop/springkasteel.webp" />
                    </a>
                </div>
                <!-- <div class="p-3 slideshow" style="display: none;">
                    <img class="img-fluid rounded-circle" src="/img/sponsorloop/schminken.jpg" />
                </div> -->
            </div>
            <div class="col-lg-7 order-lg-1">
                <div class="p-3">
                    {% if include.header %}
                    <h2 class="display-4">{{ include.header }}</h2>
                    {% endif %}

                    {{ include.content | markdownify }}
                </div>
            </div>
        </div>
    </div>
</section>
