
<div class="row text-center justify-content-between" style="margin-bottom: 30px">
{% if include.contact %}
    <!-- Heart symbol (&#10084;) with text modifier (&#65038;) -->
    <a class="btn-xl btn-danger col-3" href="{{ site.doneerurl }}">&#10084;&#65038; Doneer</a>
    <a class="btn-xl btn-primary col-3" href="{{ site.inschrijfurl }}">+ Loop Mee</a>
    <a class="btn-xl btn-primary col-3" href="{{ site.contacturl }}">✉️ Contact</a>
{% elsif include.meer_info %}
    <!-- Heart symbol (&#10084;) with text modifier (&#65038;) -->
    <a class="btn-xl btn-danger col-3" href="{{ site.doneerurl }}">&#10084;&#65038; Doneer</a>
    <a class="btn-xl btn-primary col-3" href="{{ "/sponsorloop" | relative_url }}">Meer Info</a>
    <a class="btn-xl btn-primary col-3" href="{{ site.contacturl }}">✉️ Contact</a>
{% else %}
    <!-- Heart symbol (&#10084;) with text modifier (&#65038;) -->
    <a class="btn-xl btn-danger col-5" href="{{ site.doneerurl }}">&#10084;&#65038; Doneer</a>
    <a class="btn-xl btn-primary col-5" href="{{ site.inschrijfurl }}">+ Loop Mee</a>
{% endif %}
</div>
