<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <p class="text-center">Met dank aan de partners die dit allemaal mogelijk maken:</p>
        <ul class="list-inline text-center">
          {% for sponsor in site.sponsors %}
            <li class="list-inline-item">
              <a href="{{ sponsor.url }}" target="_blank">
                <img class="img-fluid" src="{{ sponsor.image }}" alt="{{ sponsor.name }}" />
              </a>
            </li>
          {% endfor %}
        </ul>

        <ul class="list-inline text-center mt-5 mb-n4">
          {% if site.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.email | encode_email }}">
              <i class="bi-envelope text-muted" style="font-size: xx-large;"></i>
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li class="list-inline-item">
            <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
              <i class="bi-instagram text-muted" style="font-size: xx-large;"></i>
            </a>
          </li>
          {% endif %}
        </ul>

        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>