---
# Only the main Sass file needs front matter (the dashes are enough)
---

$progress-height: 2rem;

@import "styles";

.neg-bottom-margin {
    margin-bottom: -30px;
}

.progress-bg {
    background-color: $gray-300;
    padding: 20px 20px 10px 20px;
}
