---
# Only the main Sass file needs front matter (the dashes are enough)
---

$progress-height: 2rem;

@import "styles";

.neg-bottom-margin {
    margin-bottom: -30px;
}

.progress-bg {
    background-color: $gray-300;
    padding: 20px 20px 10px 20px;
}

.btn-xl {
    border: none;
}

html {
    scroll-behavior: smooth;
}

#veiling {
    scroll-margin-top: 100px; 
}


h3 + p {
    margin-top: 10px;
}
h4 + p {
    margin-top: 0;
}
h5 + p {
    margin-top: 0;
}

@media (max-width: 768px) { /* Target screens smaller than "md" (768px) */
    .row.no-gutters-sm > [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px; 
    }
}